* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, rgb(15, 131, 102), rgb(8, 56, 119));
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

button {
  width: 3rem;
  padding: 0.2rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

#ball {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: linear-gradient(45deg, rgb(8, 56, 119), rgb(15, 131, 102));
  border: 2px solid white;
  border-radius: 100%;
  left: 2.5rem;
}

#ground {
  width: calc(10rem - 4px);
  height: 3rem;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: -1rem;
  left: 0;
  border-radius: 0 0 20px 20px;
}

#container {
  width: 10rem;
  height: 20rem;
  position: relative;
  border: 2px solid white;
  border-radius: 20px 20px 0 0;
  background-color: #00000033;
}
